@{
    Layout = "_GuestLayout";
}

@model int

@*form per i commenti*@
@*<div class="col-12 mt-5 ms-1">
    <h5>Modifica il commento</h5>

    <form onsubmit="inviaCommento(event)">
        <div class="mb-3">
            <label for="comment-name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="comment-name">
        </div>
        <div class="mb-3">
            <label for="comment-text" class="form-label">Testo</label>
            <textarea class="form-control" id="comment-text" rows="10"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Invia" />
    </form>
</div>*@

<p>ciao</p>