@{
    Layout = "_GuestLayout";
}

<div>
    <div class="col-12 mt-5">
        <form onsubmit="inviaMessaggio(event)">
            <div class="mb-3">
                <label for="contact-email" class="form-label">Email</label>
                <input type="email" class="form-control" id="contact-email">
            </div>
            <div class="mb-3">
                <label for="contact-name" class="form-label">Nome</label>
                <input type="text" class="form-control" id="contact-name">
            </div>
            <div class="mb-3">
                <label for="contact-title" class="form-label">Titolo</label>
                <input type="text" class="form-control" id="contact-title">
            </div>
            <div class="mb-3">
                <label for="contact-text" class="form-label">Testo</label>
                <textarea class="form-control" id="contact-text" rows="10"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Invia" />
        </form>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">

        const email = document.querySelector('#contact-email');
        const userName = document.querySelector('#contact-name');
        const title = document.querySelector('#contact-title');
        const text = document.querySelector('#contact-text');

        function inviaMessaggio(e) {

            e.preventDefault();
            axios.post('/api/message', {
                email: email.value,
                username: userName.value,
                title: title.value,
                text: text.value,
            }).then(res => {
                swal("Messaggio inserito correttamente!", "success");
                //email.value = '';
                //userName.value = '';
                title.value = '';
                text.value = '';
            }).catch(error => {

                //Metodo non ottimale e con gli if inutili
                    //let userError = error.response.data.errors;
                    //if (email.value == '') {
                    //    swal(userError.Email[0], userError.Email[1]);
                    //}
                    //if (userName.value == '') {
                    //    swal(userError.UserName[0]);
                    //}
                    //if (title.value == '') {
                    //    swal(userError.Title[0]);
                    //}
                    //if (text.value == '') {
                    //    swal(userError.Text[0]);
                    //}
                    //console.log(error.response.data.errors.Email[0]);

                let errors = "";

                //Object.keys stampa le chiavi dell'oggetto, ad esempio Name, Email, ecc, in forma di array
                const keys = Object.keys(error.response.data.errors);

                //posso ciclare sull'array
                keys.forEach(key => {

                    //se c'è più di un errore rifaccio stesso procedimento
                    const item = error.response.data.errors[key];
                    item.forEach(error => {
                        errors += error + "\n ";
                    })
                });
                swal("Errore", errors, "error");
                console.log(error.response.data.errors);
            })
        }
    </script>
}