@{
    Layout = "_GuestLayout";
}


@*searchbar*@
<div>
    <input id="user_search" type="text" class="js_search form-control" />
    <!-- input id="user_search" type="text" class="js_search form-control" onkeyup="OnUserInput(this)" /> -->
</div>

<div class="row js_no_post text-center d-none">
    <div class="col-12">
        <h3>Non hai inserito alcuna pizza</h3>
    </div>
</div>
<div class="row js_post_table d-none">
    <!-- qui verranno mostrati gli elementi -->
</div>

@section Scripts{
    <script type="text/javascript">

        document.querySelector(".js_search").addEventListener('keyup', OnUserInputEvent);

        var timeoutId = null;

        function OnUserInputEvent(e) {

            let query = e.target.value;

            if (timeoutId != null)
                clearTimeout(timeoutId);
            timeoutId = setTimeout(() => {
                axios.get('/api/pizza/search', {
                    params: {
                        name: query
                    }
                }).then(response => {
                    RenderPost(response.data);
                }).catch(error => {
                    console.log(error);
                })

            }, 300);

        }

        console.log("dopo", document.querySelector(".js_search").value);

        //chiamata api per prendere le pizze
        axios.get('/api/pizza/get').then(res => {

            RenderPost(res.data);

        }).catch(error => {

            debugger;
            console.log(error);

        })

        //funzione per renderizzare le card delle pizze
        function RenderPost(data){

            if (data.length == 0) {
                document.querySelector('.js_no_post').classList.remove('d-none');
                document.querySelector('.js_post_table').classList.add('d-none');
            } else {
                document.querySelector('.js_post_table').classList.remove('d-none');
                document.querySelector('.js_no_post').classList.add('d-none');
                document.querySelector('.js_post_table').innerHTML = '';
                data.forEach(pizza => {
                    console.log('pizza', pizza);

                    document.querySelector('.js_post_table').innerHTML +=
                        `
                        <div class="col-12 col-md-4 p-2">
                            <div class="card post h-100">
                                    <img src="${pizza.image}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">${pizza.name}</h5>
                                    <p class="card-text">${pizza.description}</p>
                                    <p class="card-text">${pizza.cost} euro</p>
               
                                    <a href="/Guest/Details/${pizza.id}">dettagli</a>
                                </div>
                            </div>
                        </div>
                        `;
                });
            }
        }
    </script>
}